@model BirthdayManagementSystem.Models.NombrePersonne

@{
    ViewBag.Title = "Delete";
}

<h2>Suppression</h2>

<h3>Voulez-vous vraiment supprimer cet élément?</h3>
<div>
    <h4>Nombre d'anniversaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreAnniversereux)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAnniversereux)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour", "Index")
        </div>
    }
</div>
